<div class="dropdown">
    <div class="dropdown__icon">
        <span></span>
    </div>
    <div class="fraimed-container dropdown__container">
        <ul class="dropdown__list">
            <li class="dropdown__item"><a href="#" class="dropdown__link">Відправити в архів</a></li>
            <li class="dropdown__item"><a href="#" class="dropdown__link">Відкрити контакти</a></li>
        </ul>
    </div>
</div>