.fraimed-container {
  background: #FFF;
  box-shadow: 0 2.12854px 4px rgba(72, 73, 175, 0.0104523), 0 5.88513px 12px rgba(72, 73, 175, 0.015), 0 14.1691px 28.0368px rgba(72, 73, 175, 0.0195477), 0 47px 93px rgba(72, 73, 175, 0.01);
  border-radius: 4px;
  padding: 32px 35px 30px;

  @media(max-width: 991px) {
    padding: 20px;
  }
}
