<div class="faq" id="faq">
    <div class="container">
        <div class="h2">FAQ</div>
        <div class="faq__container">
            <ul class="faq__vantages">
                <li class="faq__vantage">
                   <div class="faq__vantage-question">Augue tincidunt lorem enim vulputate odio vitae</div>
                   <div class="faq__vantage-answer">Sagittis sodales mauris, enim amet. Aliquet cursus in id cursus pretium non sed eleifend amet. Nunc, netus malesuada non, ut velit risus adipiscing pharetra. Amet velit consectetur in sed arcu, tortor id faucibus. Id consectetur </div>
               </li>
                <li class="faq__vantage">
                    <div class="faq__vantage-question opened">Nibh facilisi ullamcorper lectus integer ut</div>
                    <div class="faq__vantage-answer answer">Sagittis sodales mauris, enim amet. Aliquet cursus in id cursus pretium non sed eleifend amet. Nunc, netus malesuada non, ut velit risus adipiscing pharetra. Amet velit consectetur in sed arcu, tortor id faucibus. Id consectetur </div>
                </li>
                <li class="faq__vantage">
                    <div class="faq__vantage-question">Vulputate mauris tempor consectetur urna</div>
                    <div class="faq__vantage-answer">Sagittis sodales mauris, enim amet. Aliquet cursus in id cursus pretium non sed eleifend amet. Nunc, netus malesuada non, ut velit risus adipiscing pharetra. Amet velit consectetur in sed arcu, tortor id faucibus. Id consectetur </div>
                </li>
                <li class="faq__vantage">
                    <div class="faq__vantage-question">Augue tincidunt lorem enim vulputate odio vitae</div>
                    <div class="faq__vantage-answer">Sagittis sodales mauris, enim amet. Aliquet cursus in id cursus pretium non sed eleifend amet. Nunc, netus malesuada non, ut velit risus adipiscing pharetra. Amet velit consectetur in sed arcu, tortor id faucibus. Id consectetur </div>
                </li>
                <li class="faq__vantage">
                    <div class="faq__vantage-question">How can I receive step-by-step instructions?</div>
                    <div class="faq__vantage-answer">Sagittis sodales mauris, enim amet. Aliquet cursus in id cursus pretium non sed eleifend amet. Nunc, netus malesuada non, ut velit risus adipiscing pharetra. Amet velit consectetur in sed arcu, tortor id faucibus. Id consectetur </div>
                </li>
                <li class="faq__vantage">
                    <div class="faq__vantage-question">Enim faucibus tellus sed nibh nisl faucibus lorem</div>
                    <div class="faq__vantage-answer">Sagittis sodales mauris, enim amet. Aliquet cursus in id cursus pretium non sed eleifend amet. Nunc, netus malesuada non, ut velit risus adipiscing pharetra. Amet velit consectetur in sed arcu, tortor id faucibus. Id consectetur </div>
                </li>
                <li class="faq__vantage">
                    <div class="faq__vantage-question">Nibh facilisi ullamcorper lectus integer ut</div>
                    <div class="faq__vantage-answer">Sagittis sodales mauris, enim amet. Aliquet cursus in id cursus pretium non sed eleifend amet. Nunc, netus malesuada non, ut velit risus adipiscing pharetra. Amet velit consectetur in sed arcu, tortor id faucibus. Id consectetur </div>
                </li>
                <li class="faq__vantage">
                    <div class="faq__vantage-question">Augue tincidunt lorem enim vulputate odio vitae</div>
                    <div class="faq__vantage-answer">Sagittis sodales mauris, enim amet. Aliquet cursus in id cursus pretium non sed eleifend amet. Nunc, netus malesuada non, ut velit risus adipiscing pharetra. Amet velit consectetur in sed arcu, tortor id faucibus. Id consectetur </div>
                </li>
                <li class="faq__vantage">
                    <div class="faq__vantage-question">Tincidunt pulvinar lacus, dignissim rhoncus.</div>
                    <div class="faq__vantage-answer">Sagittis sodales mauris, enim amet. Aliquet cursus in id cursus pretium non sed eleifend amet. Nunc, netus malesuada non, ut velit risus adipiscing pharetra. Amet velit consectetur in sed arcu, tortor id faucibus. Id consectetur </div>
                </li>
            </ul>
            <img src="./images/faq.svg" alt="" class="faq__vantages-image">
        </div>
    </div>
</div>