<div class="subscription">
    <div class="container">
        <div class="h2 subscription__title">Приєднуйся до нас</div>
        <div class="subscription__form">
            <form action="" class="subscription-form">
                <div class="subscription-form__line">
                    <input type="text" class="subscription-form__input" placeholder="Вкажіть ваш Email">
                    <button type="sumbit" class="the-button subscription-form__submit">Приєднатися</button>
                </div>
            </form>
        </div>
    </div>
</div>