<div class="main-banner recruiter-banner">
    <div class="container">
        <div class="main-banner__intro">
            <div class="main-banner__intro-left">
                <h1>Анонiмна платформа технiчних спiвбесiд</h1>
                <div class="main-banner__items">
                    <a href="index.html" class="main-banner__item">Для Кандидата</a>
                    <a href="recruiter.html" class="main-banner__item current">Для рекрутера</a>
                </div>
            </div>
            <img src="./images/intro-recruiter.svg" alt="" class="main-banner__intro-right">
        </div>
        <ul class="main-banner__vantages">
            <li class="fraimed-container main-banner__vantage">
                <div class="main-banner__vantage-icon">
                    <img src="./images/cand1.svg" alt="">
                </div>
                <div class="h3 main-banner__vantage-title">Записи спiвбесiд</div>
                <div class="main-banner__vantage-description">Отримуй доступ до записiв технiчних iнтерв’ю кандидатiв та наймай найкращих</div>
            </li>
            <li class="fraimed-container main-banner__vantage">
                <div class="main-banner__vantage-icon">
                    <img src="./images/recruiter2.svg" alt="">
                </div>
                <div class="h3 main-banner__vantage-title">Тисячi кандидатiв</div>
                <div class="main-banner__vantage-description">Богатий вибiр кандидатiв в усiх категорiях</div>
            </li>
            <li class="fraimed-container main-banner__vantage">
                <div class="main-banner__vantage-icon">
                    <img src="./images/recruiter3.svg" alt="">
                </div>
                <div class="h3 main-banner__vantage-title">Безкоштовнi вакансiї</div>
                <div class="main-banner__vantage-description">Розмiщення вакансiй безкоштовне назавжди</div>
            </li>
        </ul>
    </div>
</div>
