<div class="main-banner">
    <div class="container">
        <div class="main-banner__intro">
            <div class="main-banner__intro-left">
                <h1>Анонiмна платформа технiчних спiвбесiд</h1>
                <div class="main-banner__items">
                    <a href="index.html" class="main-banner__item current">Для Кандидата</a>
                    <a href="recruiter.html" class="main-banner__item">Для рекрутера</a>
                </div>
            </div>
            <img src="./images/intro.svg" alt="" class="main-banner__intro-right">
        </div>
        <ul class="main-banner__vantages">
            <li class="fraimed-container main-banner__vantage">
                <div class="main-banner__vantage-icon">
                    <img src="./images/cand1.svg" alt="">
                </div>
                <div class="h3 main-banner__vantage-title">Записи спiвбесiд</div>
                <div class="main-banner__vantage-description">Геть однакові співбесіди — відправляй компаніям запис</div>
            </li>
            <li class="fraimed-container main-banner__vantage">
                <div class="main-banner__vantage-icon">
                    <img src="./images/cand2.svg" alt="">
                </div>
                <div class="h3 main-banner__vantage-title">Анонiмнiсть</div>
                <div class="main-banner__vantage-description">Ти сам відкриваєш доступ до контактів та співбесід</div>
            </li>
            <li class="fraimed-container main-banner__vantage">
                <div class="main-banner__vantage-icon">
                    <img src="./images/cand3.svg" alt="">
                </div>
                <div class="h3 main-banner__vantage-title">Грошовий бонус</div>
                <div class="main-banner__vantage-description">Отримай 10% від своєї зп коли тебе наймуть на роботу</div>
            </li>
        </ul>
    </div>
</div>

