<div class="how-it-works recruiter-works" id="about-us">
    <div class="container">
        <h2> Як це працює</h2>
        <ul class="how-it-works__steps">
            <li class="how-it-works__step recruiter-works__step step-one">
                <div class="how-it-works__step-wrap">
                    <div class="how-it-works__step-info">
                        <h4>Створи профiль</h4>
                        <div class="how-it-works__step-description">Вкажи що ти знаєшь та чого очікуєш вiд посади</div>
                    </div>
                </div>
                <img src="./images/how1.svg" alt="" class="how-it-works__step-image">
            </li>
            <li class="how-it-works__step recruiter-works__step step-two">
                <div class="how-it-works__step-wrap">
                    <div class="how-it-works__step-info recruiter-works__step-info">
                        <h4>Знайди кандидата</h4>
                        <div class="how-it-works__step-description">Список варiантiв роботи, якi вiпдовiдають вимогам</div>
                    </div>
                </div>
                <img src="./images/recruiter-how2.svg" alt="" class="how-it-works__step-image">
            </li>
            <li class="how-it-works__step recruiter-works__step step-three">
                <div class="how-it-works__step-wrap">
                    <div class="how-it-works__step-info recruiter-works__step-info">
                        <h4>Отримай запис iнтерв’ю та контакти</h4>
                        <div class="how-it-works__step-description">Експертизу команди</div>
                    </div>
                </div>
                <img src="./images/recruiter-how3.svg" alt="" class="how-it-works__step-image wide-image">
            </li>
            <li class="how-it-works__step recruiter-works__step step-four">
                <div class="how-it-works__step-wrap">
                    <div class="how-it-works__step-info recruiter-works__step-info">
                        <h4>Успiшний найм</h4>
                    </div>
                </div>
                <img src="./images/recruiter-how4.svg" alt="" class="how-it-works__step-image">
            </li>
        </ul>
    </div>
</div>