.how-it-works {
  background: #FBFBFD;
  padding: 95px 0 104px;

  @media(max-width: 991px) {
    padding: 50px 0;
  }

  &__steps {
    counter-reset: myCounter;
  }

  &__step {
    padding: 75px 0 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 862px;
    margin: 0 auto;
    padding-right: 5px;

    &-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-64%);
    }

    &-wrap {
      display: flex;
      align-items: center;
      max-width: 250px;
      width: 100%;
      position: relative;

      &:before {
        display: block;
        content: counter(myCounter);
        counter-increment: myCounter;
        font-weight: 900;
        font-size: 240px;
        letter-spacing: 0.05em;
        color: #F2F2FA;
        margin-left: -75px;
        margin-top: -25px;
        //opacity: 0.4;
      }
    }

    &-description {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: $black;

      @media(max-width: 991px) {
        font-size: 16px;
      }

      @media(max-width: 767px) {
        font-size: 14px;
      }

      @media(max-width: 575px) {
        line-height: 1.2;
      }
    }

    &-image {

      @media (max-width: 991px) {
        height: 200px;
      }

      &.middle-image {
        @media (max-width: 991px) {
          height: 150px;
        }
      }

      &.wide-image {
        @media (max-width: 991px) {
          height: 120px;
        }
      }
    }
  }
}

.step {

  &-two {
    padding: 51px 0 47px 85px;
    flex-direction: row-reverse;
    max-width: 1140px;

    .how-it-works__step-info {
      width: 100%;
      transform: translateY(-72%);
    }

    .how-it-works__step-wrap {
      width: 100%;
      max-width: 420px;

      &:before {
        margin-top: -30px;
        margin-left: -97px;
      }
    }

  }

  &-three {
    padding: 60px 0 60px 14px;
    max-width: 926px;

    .how-it-works__step-info {
      width: 100%;
      margin-top: 0;
    }

    .how-it-works__step-wrap {
      width: 100%;
      max-width: 390px;

      &:before {
        margin-top: -9px;
        margin-left: -97px;
      }
    }

    .how-it-works__step-image {
      margin-top: -20px;
    }

  }

  &-four {
    flex-direction: row-reverse;
    padding: 55px 0 59px 87px;
    max-width: 1115px;

    .how-it-works__step-info {
      width: 100%;
      left: -3px;
      top: 50%;
      transform: translateY(-66%);
    }

    .how-it-works__step-wrap {
      width: 100%;
      max-width: 410px;

      &:before {
        margin-top: -20px;
        margin-left: -92px;
      }
    }

    .how-it-works__step-image {
      margin-top: 20px;
    }
  }

  &-five {
    padding: 61px 0 70px 36px;
    max-width: 922px;

    .how-it-works__step-info {
      width: 100%;
    }

    .how-it-works__step-wrap {
      width: 100%;
      max-width: 410px;

      &:before {
        margin-top: -20px;
        margin-left: -92px;
      }
    }

    .how-it-works__step-image {
      margin-top: -16px;
    }

  }


  &-one,
  &-three,
  &-five {

    @media(max-width: 1099px) {
      .how-it-works__step-wrap {

        &:before {
          display: none;
        }
      }
    }

    @media (max-width: 991px) {
      flex-direction: column-reverse;
      padding: 40px 0;
    }

    @media (max-width: 575px) {
      flex-direction: column-reverse;
      padding: 30px 0;
    }

    .how-it-works__step-image {
      @media(max-width: 991px) {
        margin-top: 0;
      }
    }

    .how-it-works__step-wrap {
      @media(max-width: 991px) {
        max-width: 100%;
      }
    }

    .how-it-works__step-info {

      @media (max-width: 991px) {
        max-width: 100%;
        margin-top: 30px;
        text-align: center;
        position: static;
        transform: translateY(0);
      }

      @media (max-width: 575px) {
        margin-top: 20px;
      }
    }
  }

  &-two,
  &-four {

    @media(max-width: 1099px) {
      .how-it-works__step-wrap {

        &:before {
          display: none;
        }
      }
    }

    @media (max-width: 991px) {
      flex-direction: column-reverse;
      padding: 40px 0;
    }

    @media (max-width: 575px) {
      flex-direction: column-reverse;
      padding: 30px 0;
    }

    .how-it-works__step-image {
      @media(max-width: 991px) {
        margin-top: 0;
      }
    }

    .how-it-works__step-wrap {
      @media(max-width: 991px) {
        max-width: 100%;
      }
    }

    .how-it-works__step-info {

      @media (max-width: 991px) {
        max-width: 100%;
        margin-top: 30px;
        text-align: center;
        position: static;
        transform: translateY(0);
      }

      @media (max-width: 575px) {
        margin-top: 20px;
      }
    }
  }
}


.recruiter-works {
  padding: 98px 0 94px;

  @media(max-width: 991px) {
    padding: 50px 0;
  }

  &__step {

    &.step-one {

      .recruiter-works__step-info {
        margin-top: 0;
      }

      @media (max-width: 991px) {
        flex-direction: column-reverse;
        padding: 40px 0;
      }

      @media (max-width: 575px) {
        flex-direction: column-reverse;
        padding: 30px 0;
      }

      .how-it-works__step-info {

        @media (max-width: 991px) {
          max-width: 100%;
          margin-top: 30px;
          text-align: center;
        }

        @media (max-width: 575px) {
          margin-top: 20px;
        }
      }

      .how-it-works__step-image {
        @media(max-width: 991px) {
          margin-top: 0;
        }
      }
    }

    &.step-two {
      padding: 50px 0 47px 87px;

      @media (max-width: 991px) {
        flex-direction: column-reverse;
        padding: 40px 0;
      }

      @media (max-width: 575px) {
        flex-direction: column-reverse;
        padding: 30px 0;
      }

      .how-it-works__step-info {

        @media (max-width: 991px) {
          max-width: 100%;
          margin-top: 30px;
          text-align: center;
        }

        @media (max-width: 575px) {
          margin-top: 20px;
        }
      }

      .how-it-works__step-image {
        margin-top: -45px;

        @media(max-width: 991px) {
          margin-top: 0;
        }
      }
    }

    &.step-three {
        padding: 61px 0 45px 73px;
        max-width: 1043px;

      .recruiter-works__step-info {
        margin-top: 10px;
        max-width: 365px;
      }

      @media (max-width: 991px) {
        flex-direction: column-reverse;
        padding: 40px 0;
      }

      @media (max-width: 575px) {
        flex-direction: column-reverse;
        padding: 30px 0;
      }

      .how-it-works__step-info {

        @media (max-width: 991px) {
          max-width: 100%;
          margin-top: 30px;
          text-align: center;
        }

        @media (max-width: 575px) {
          margin-top: 20px;
        }
      }

      .how-it-works__step-image {
        @media(max-width: 991px) {
          margin-top: 0;
        }
      }
    }

    &.step-four {
      padding: 65px 0 59px 123px;
      max-width: 1120px;

      .recruiter-works__step-info {
        width: 100%;
        left: -5px;
        top: 50%;
        transform: translateY(-30%);
      }

      @media (max-width: 991px) {
        flex-direction: column-reverse;
        padding: 40px 0;
      }

      @media (max-width: 575px) {
        flex-direction: column-reverse;
        padding: 30px 0;
      }

      .how-it-works__step-info {

        @media (max-width: 991px) {
          max-width: 100%;
          margin-top: 30px;
          text-align: center;
        }

        @media (max-width: 575px) {
          margin-top: 20px;
        }
      }

      .how-it-works__step-image {
        margin-top: -12px;

        @media(max-width: 991px) {
          margin-top: 0;
        }
      }
    }
  }

}