<div class="how-it-works" id="about-us">
    <div class="container">
        <h2> Як це працює</h2>
        <ul class="how-it-works__steps">
            <li class="how-it-works__step step-one">
                <div class="how-it-works__step-wrap">
                    <div class="how-it-works__step-info">
                        <h4>Створи профiль</h4>
                        <div class="how-it-works__step-description">Вкажи що ти знаєш та чого очікуєш вiд посади</div>
                    </div>
                </div>
                <img src="./images/how1.svg" alt="" class="how-it-works__step-image">
            </li>
            <li class="how-it-works__step step-two">
                <div class="how-it-works__step-wrap">
                    <div class="how-it-works__step-info">
                        <h4>Відкрий контакти рекрутеру</h4>
                        <div class="how-it-works__step-description">Ознайомся зі списком варіантів роботи, які відповідають вимогам</div>
                    </div>
                </div>
                <img src="./images/how2.svg" alt="" class="how-it-works__step-image middle-image">
            </li>
            <li class="how-it-works__step step-three">
                <div class="how-it-works__step-wrap">
                    <div class="how-it-works__step-info">
                        <h4>Пройди співбесіду</h4>
                        <div class="how-it-works__step-description">Отримай експертизу команди</div>
                    </div>
                </div>
                <img src="./images/how3.svg" alt="" class="how-it-works__step-image">
            </li>
            <li class="how-it-works__step step-four">
                <div class="how-it-works__step-wrap">
                    <div class="how-it-works__step-info">
                        <h4>Відкривай її іншим компаніям</h4>
                        <div class="how-it-works__step-description">Оберай найцікавіший варіант</div>
                    </div>
                </div>
                <img src="./images/how4.svg" alt="" class="how-it-works__step-image">
            </li>
            <li class="how-it-works__step step-five">
                <div class="how-it-works__step-wrap">
                    <div class="how-it-works__step-info">
                        <h4>Отримуй офери</h4>
                        <div class="how-it-works__step-description">Знайди роботу своєї мрії</div>
                    </div>
                </div>
                <img src="./images/how5.svg" alt="" class="how-it-works__step-image">
            </li>
        </ul>
    </div>
</div>