<div class="social-media">
    <a href="#" class="social-media__item">
        {{> icon iconName="sm-telegram" classNames="telegram" }}
    </a>
    <a href="#" class="social-media__item">
        {{> icon iconName="sm-linkedin" classNames="linkedin" }}
    </a>
    <a href="mailto:support@interview.top" class="social-media__item">
        {{> icon iconName="sm-email" classNames="email" }}
    </a>
</div>
