<footer class="main-footer">
    <div class="container main-footer__container">
        <ul class="main-footer__nav">
            <li><a href="#faq" class="nav__link main-footer__nav-link">FAQ</a></li>
            <li><a href="#about-us" class="nav__link main-footer__nav-link">About us</a></li>
            <li><a href="#tariff" class="nav__link main-footer__nav-link">Pricing</a></li>
        </ul>
        <div class="main-footer__logo">
            <a href="index.html" class="main-footer__logo-link">
                <img src="./images/logo_footer.svg" alt="">
            </a>
        </div>
        <div class="main-footer__contacts">
            <div class="main-footer__social-media">
                {{> social-media }}
            </div>
            <a href="mailto:support@interview.top" class="main-footer__email">support@interview.top</a>
        </div>
    </div>
</footer>