<nav id="nav">
    <ul class="nav__links">
        <li><a href="#about-us" class="nav__link">Про нас</a></li>
        <li><a href="#tariff" class="nav__link">Тарифи</a></li>
        <li><a href="#faq" class="nav__link">FAQ</a></li>
    </ul>
</nav>

