<header class="main-header">
    <div class="container main-header__container">
        <div class="main-header__menu-toggle">
            {{> menu-toggle }}
        </div>
        <div class="main-header__logo">
            <a href="index.html" class="main-header__logo-link">
                <img src="./images/logo.svg" alt="" class="main-header__logo-icon">
            </a>
        </div>
        <div class="main-header__menu">
            <div class="main-header__nav main-menu">
                {{> nav }}
            </div>
            <ul class="main-header__auth main-auth">
                <li class="main-header__auth-item"><a href="#" class="nav__link">Увійти</a></li>
                <li class="main-header__auth-item"><a href="#" class="the-link main-header__auth-link">Зареєструватися</a></li>
            </ul>
        </div>

        <div class="main-header__dropdown">
            {{> dropdown }}
        </div>
    </div>
</header>


