.main-header {
  display: flex;
  transition: $delay;

  @media(max-width: 1365px) {
    padding: 5px 0;
  }

  @media(max-width: 767px) {
    background: darken(#FBFBFD, 10%);
  }

  @media(max-width: 600px) {
    min-height: 60px;
  }

  &_sticky {
    @media(max-width: 767px) {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      z-index: 999;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {

    &-icon {
      @media(max-width: 839px) {
        height: 50px;
      }

    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
    max-width: 797px;
    width: 100%;

    @media(max-width: 1365px) {
      margin-right: 0;
    }

    @media(max-width: 1099px) {
      max-width: 600px;
    }

    @media(max-width: 767px) {
      position: absolute;
      left: -9999px;
    }
  }

  &__nav {

    @media(max-width: 1365px) {
      padding-top: 1px;
    }
  }

  &__langs {

    &-left {
      display: none;

      @media(max-width: 767px) {
        display: block;
      }
    }

    &-right {
      margin-right: 10px;
      display: none;

      @media(min-width: 768px) {
        display: block;
      }
    }
  }

  &__auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 302px;
    width: 100%;

    @media(max-width: 1099px) {
      max-width: 250px;
    }

    &-link {
      color: $blue;
      padding: 13px 28px;

      &:hover {
        color: white;
      }

      @media(max-width: 1099px) {
        padding: 13px;
      }
    }
  }

  &__menu-toggle {
    display: none;

    @media(max-width: 767px) {
      display: block;
    }
  }

  &__dropdown {
    display: none;

    @media(max-width: 767px) {
      display: block;
    }
  }
}

.main-menu {

  @media (max-width: 767px) {
    position: fixed;
    top: -9999px;
    left: -9999px;
    right: 9999px;
    bottom: 9999px;
    background-color: lightslategray;
    opacity: 0;
    margin: 0;
    z-index: 200;
    border: none;
    min-width: 160px;
    width: 50%;
    text-align: center;
    border-radius: 0;
    transition: all 0s ease .35s, opacity .35s ease;

    #nav {
      display: flex;
      justify-content: center;
      position: absolute;
      left: 50%;
      top: 10%;
      right: 0;
      bottom: 0;
      transform: translateX(-50%);
      width: 100%;

      & > ul {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        justify-content: flex-start;

        & > li {
          padding: 0 20px;

          &>a {
            display: block;
            padding: 15px 10px;
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            text-decoration: none;

            &:hover,
            &:active {
              color: white;
              text-decoration: none;
              border-bottom: 1px solid transparent;
            }
          }
        }
      }
    }

    &.open {
      left: 0;
      right: 50%;
      top: 60px;
      bottom: 0;
      opacity: 0.9;
      transition: opacity .35s ease;
      overflow-y: scroll;
    }
  }

  @media(max-width: 640px) {
    #nav {
      & > ul {
        & > li {
          font-size: 16px;
          line-height: 1;
        }
      }
    }
  }
}

.main-auth {

  @media (max-width: 767px) {
    position: fixed;
    top: -9999px;
    left: -9999px;
    right: 9999px;
    bottom: 9999px;
    background-color: white;
    opacity: 0;
    margin: 0;
    z-index: 200;
    border: none;
    min-width: 160px;
    width: 50%;
    max-width: 900px;
    text-align: center;
    border-radius: 0;
    transition: all 0s ease .35s, opacity .35s ease;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 67px;

    &.open {
      left: 50%;
      right: 0;
      top: 60px;
      bottom: 0;
      opacity: 0.9;
      transition: opacity .35s ease;
      overflow-y: scroll;

      & > li {
        padding: 0 20px;
        margin-bottom: 13px;

        & > a {
          padding: 15px 10px;
          font-size: 18px;
          text-transform: uppercase;
          text-decoration: none;
          border: none;
        }

        & > a.main-header__auth-link {
          @media(max-width: 479px) {
            font-size: 14px;
            margin-top: 6px;
          }
        }
      }
    }
  }

  @media(max-width: 640px) {
    & > li {
      font-size: 16px;
      line-height: 1;
    }
  }
}

body.menu-open.auth-open,
body.auth-open.menu-open {
  overflow: hidden;
}